<body id="background">
    <video autoplay muted loop id="myVideo">
        <source src="assets\videos\bgvideo.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <main>
        <div class="container">
            <table id="thoughtRecordBook">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Situation</th>
                        <th>Thoughts</th>
                        <th>Feelings</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div style="width: 130px; height: 200px; overflow: auto;" contenteditable="true"></div></td>
                        <td><div style="width: 130px; height: 200px; overflow: auto;" contenteditable="true"></div></td>
                        <td><div style="width: 130px; height: 200px; overflow: auto;" contenteditable="true"></div></td>
                        <td><div style="width: 130px; height: 200px; overflow: auto;" contenteditable="true"></div></td>
                        <td><div style="width: 130px; height: 200px; overflow: auto;" contenteditable="true"></div></td>
                    </tr>
                    
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
        
        
        <section id="entries">
            <!-- Entries will go here -->
        </section>
    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="#thoughtRecordBook" class="active">THOUGHT RECORD BOOK</a></li>
                <li><a href="#myRecords">MY RECORDS</a></li>
            </ul>
        </nav>
    </footer>
</body>
